</header>
  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @current_user.email %> !</h4>
    <ul>
      <%= render 'orders/line_item' %>
      <p>Order Total: $<%= @order.total_cents / 100 %> </p>
    </ul>
  </div>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</header>